.wrapper {
  font-family: 'Lato', sans-serif;
  width: max-content;
  display: flex;
  flex-direction: column;
  border: 2px solid #00000021;
  background-color: #e3f2fd;

}

.btn {
  margin: 0.1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #e8eaf6;

  .title {
    font-weight: bold;
    padding-left: 1rem;
  }

  .close {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: red;
      color: white;

    }
  }

}


.result {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3rem;
  border: 2px solid #00000042;
  padding: 8px;
  font-size: 1.5rem;
  background-color: white;
}


.btnContainer {
  display: flex;

  .digitalContainer {
    width: 205px;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;

  }

  .actionsContainer {
    display: flex;
    flex-direction: column;
  }
}